<h1>Products</h1>

<%= link_to "New product", new_product_path %>
<hr/>
<h2>Our Catalog</h2>
<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product %>
    </div>
  <% end %>
</div>